.userInfo {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons i {
  font-size: 18px;
  cursor: pointer;
}
